<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Track Your Calories!</title>
  <link rel="stylesheet" href="public/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:500,700">
</head>
<body id="health-tracker-app">
  <header>
    <h2>Track Your Calories!</h2>
    <ul id="pages-nav" class="pages-nav">
      <li>
        <a class="page-link selected" href="#/search">Search</a>
      </li>
      <li>
        <a class="page-link" href="#/trackers">Trackers</a>
      </li>
    </ul>
  </header>
  <main class="main-app">
    <div id="search" class="search">
      <label for="searchbar" class="search-prompt">Search for foods you eat...</label>
      <div class="searchbar-wrapper">
        <input id="searchbar" class="searchbar" type="text" list="auto-results" autofocus>
        <div id="search-button" class="search-button"></div>
      </div>
      <datalist id="auto-results">
        <!-- Options from Nutritionix autocomplete API will be loaded here. -->
        <!-- Looks like Safari can't support datalist.. so sad! :( Oh well. -->
        <!-- http://fcaniuse.com/#feat=datalist -->
      </datalist>
      <div id="search-results" class="search-results">
        <!-- Results from Nutritionix search API will be loaded here. -->
      </div>
    </div>
    <div id="trackers" class="trackers hidden">
      <div id="tracker-list" class="tracker-list">
        <!-- Locally stored food trackers will be displayed here. -->
      </div>
    </div>
    <div id="details-panel" class="details-panel popup-window hidden">
      <div id="details-panel-close" class="close"></div>
      <div id="calories-history" class="calories-history window-contents">
        <!-- Displays calories history when a food or day is selected -->
      </div>
    </div>
    <div id="log-entry-form-container" class="log-entry-form-container popup-window hidden">
      <div id="log-entry-form-close" class="close"></div>
      <div id="log-entry-form" class="log-entry-form window-contents">
        <!-- Prompts user to enter data for a log entry -->
      </div>
    </div>
  </main>
  <footer>
    <p>Powered by <a href="http://www.nutritionix.com/api" target="_blank">Nutritionix API</a>.</p>
  </footer>

  <script type="text/template" id="food-result-template">
    <h3 class="food-result-title"><%= item_name %></h3>
    <img class="food-result-thumbnail"
         src="<%= thumbnail %>"
         alt="<%= item_name %><%= brand_name ? ' from' + brand_name : '' %>">
    <div class="food-result-description">
      <% if (brand_name) { %>
        <div>
          <span><strong>Brand:</strong></span>
          <span><%= brand_name %></span>
        </div>
      <% } %>
      <% if (nutrient_value && nutrient_uom === 'kcal') { %>
        <div>
          <span><strong>Calories:</strong></span>
          <span><%= nutrient_value %></span>
        </div>
      <% } %>
      <% if (serving_qty) { %>
        <div>
          <span><strong>Serving size:</strong></span>
          <span><%= serving_qty %> <%= serving_uom %></span>
        </div>
      <% } %>
      <div>
        <span class="track-food-button <%= isTracking ? 'tracked' : 'untracked' %>">
          <strong><%= isTracking ? 'Tracking:' : 'Track this food' %></strong>
        </span>
        <% if (isTracking) { %>
          <span><%= weekCalCount %> Cal in last week</span>
        <% } %>
      </div>
      <% if (isTracking) { %>
        <div>
          <span class="new-log-entry-button">
            <strong>New log entry</strong>
          </span>
        </div>
      <% } %>
    </div>
  </script>

  <script type="text/template" id="food-calories-history-template">
    <h1 class="food-calories-history-title"><%= name %></h1>
    <img class="food-calories-history-image" src="<%= image %>" alt="<%= name %>">
    <div class="food-calories-total">
      <span><strong>Total Calories Consumed:</strong></span>
      <span><%= totalCalories.toFixed(1) %></span>
    </div>
    <div class="food-calories-today">
      <span><strong>Calories Consumed Today:</strong></span>
      <span><%= todayCalories.toFixed(1) %></span>
    </div>
    <h2 class="history-list-head">History</h2>
    <div id="history-list" class="history-list"></div>
  </script>

  <script type="text/template" id="day-calories-history-template">
    <h1 class="day-calories-history-title"><%= date %></h1>
    <div class="day-calories">
      <span><strong>Calories Consumed:</strong></span>
      <span><%= calories.toFixed(1) %></span>
    </div>
    <h2 class="history-list-head">History</h2>
    <div id="history-list" class="history-list"></div>
  </script>

  <script type="text/template" id="calories-history-item-template">
    <div class="calories-history-item-date"><%= date.toDateString() %></div>
    <div class="calories-history-item-description">
      <span class="calories-history-item-count"><%= calories.toFixed(1) %> Cal:</span>
      <span class="calories-history-item-name"><%= name %> (<%= brandName %>)</span>
    </div>
  </script>

  <!-- Below script uses custom Date input value converter (see end of HTML page) -->
  <script type="text/template" id="log-entry-form-template">
    <h2 class="log-entry-form-head">
      <%= action === 'edit' ? 'Edit' : 'New' %> log entry for <%= itemName %>
    </h2>
    <div class="form-field">
      <label>Amount</label>
      <input class="food-amount-input" id="food-amount-input" type="number" step="0.1" min="0.1" required>
      <select id="food-unit-select">
        <option value="kcal" <%= selectedUnit === 'kcal' || disableServings ? 'selected' : '' %>>Calories</option>
        <option value="serving" <%= selectedUnit === 'serving' && !disableServings ? 'selected' : '' %> <%= disableServings ? 'disabled' : '' %>>servings</option>
      </select>
    </div>
    <div id="serving-size-notice" class="serving-size-notice hidden">
      Serving size is <%= servingQty %> <%= servingUom %>.
    </div>
    <div class="form-field">
      <label>Date</label>
      <input id="food-consumption-date-input"
             type="date"
             value="<%= date.toDateInputValue() %>"
             max="<%= new Date().toDateInputValue() %>"
             required>
    </div>
    <div class="log-entry-form-decision-container">
      <button id="log-entry-form-submit" class="log-entry-form-submit">Confirm</button>
      <% if (action === 'edit') { %>
        <div id="log-entry-form-delete" class="log-entry-form-delete">Delete</div>
      <% } %>
    </div>
  </script>

  <script type="text/template" id="calendar-view-template">
    // TODO: implement timeline view (find library?) showing
    // Calorie consumption over time
  </script>

  <script>
    /* inspired by http://stackoverflow.com/a/13052187/4956731.
     * intentionally ignores time zone.
     */
    Date.prototype.toDateInputValue = function () {
      return this.toJSON().slice(0, 10);
    };
  </script>
  <script src="public/main.js"></script>
</body>
</html>