html,
body {
  margin: 0;
}

html,
body,
main {
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
  font-family: 'Dosis', Sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

header,
main,
footer {
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  width: 840px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #77a346;
}

a:hover {
  color: #506d2f;
}

.pages-nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0 0 0.5em;
  margin: 0;
}

.page-link {
  margin-right: 0.5em;
  padding-bottom: 2px;
}

.page-link.selected {
  color: #506d2f;
  border-bottom: 3px solid #506d2f;
}

.main-app {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.search,
.trackers {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.search-prompt {
  display: block;
  margin-bottom: 4px;
}

.searchbar-wrapper {
  width: 100%;
  max-width: 100%;
}

.searchbar {
  float: left;
  font-size: 1em;
  margin-bottom: 12px;
  width: 100%;
  max-width: calc(100% - 60px);
}

.search-button {
  cursor: pointer;
  float: left;
  margin: 1px 0 0 5px;
  background-color: #abea65;
  padding: 0px 5px;
  border: 1px solid #808080;
  color: black;
  border-radius: 3px;
}

.search-button::after {
  /* ( '🔍' ) */
  content: '\01f50d';
}

.search-results,
.tracker-list {
  flex-grow: 1;
  margin: 8px 15px 0 0;
  overflow: auto;
  border: 1px solid #d3d3d3;
  background-color: #f2f2f2;
  position: relative;
}

.food-result {
  background-color: #ffffff;
  margin: 5px;
  padding: 0 10px 15px;
  border: 1px solid #808080;
  overflow: auto;
}

.food-result-title,
.food-result-thumbnail {
  cursor: pointer;
}

.food-result-thumbnail {
  width: 100px;
}

.food-result-description {
  margin-top: 10px;
}

.track-food-button {
  cursor: pointer;
}

.track-food-button.untracked::before {
  content: '+';
}

.track-food-button.tracked::before {
  /* ( '✔' ) */
  content: '\002714';
  color: #77a346;
}

.new-log-entry-button {
  cursor: pointer;
  margin-left: 8px;
}

.new-log-entry-button::before {
  content: '+';
}

.none-found {
  text-align: center;
  color: #808080;
}

/* Loading container positioning was so hard!
 * Here's a stackoverflow answer that helped
 * me figured it out.
 */

.loading-container,
.load-error-container {
  position: absolute;
  left: 50%;
}

.loading-container {
  bottom: 60px;
}

.load-error-container {
  bottom: 80px;
}

.loading,
.load-error {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 3px 12px;
  border-radius: 10px;
  font-size: 1.3em;
}

.loading {
  min-width: 110px;
  margin: 0 auto 0 -59px;
}

.load-error {
  text-align: center;
  width: 250px;
  margin: 0 auto 0 -135px;
}

.popup-window {
  border: 1px solid #d3d3d3;
  background-color: #f2f2f2;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, .4) 0 4px 10px 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  max-width: 85vw;
  max-height: 85vh;
}

.close {
  font-size: 1.4em;
  color: #808080;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 15px;
  position: absolute;
  right: 0;
  top: 0;
}

.close::after {
  content: '\00274C';
}

.close:hover {
  color: #666;
}

.window-contents {
  background-color: #fff;
  border: 1px solid #808080;
  margin: 7px;
  box-sizing: border-box;
  padding: 0 15px;
}

.food-calories-history-image {
  padding-bottom: 10px;
}

.food-calories-total,
.food-calories-today {
  white-space: nowrap;
}

.calories-history-item {
  border: 1px solid #808080;
  background-color: #e8f1de;
  margin-bottom: 16px;
  padding: 6px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.calories-history-item:hover {
  background-color: #c3daa8;
}

.calories-history-item-date {
  font-style: italic;
}

.calories-history-item-count {
  font-weight: bold;
}

.log-entry-error {
  color: #b22222;
  font-style: italic;
  padding-bottom: 10px;
}

.form-field {
  white-space: nowrap;
  padding: 6px 0;
}

.form-field label {
  font-weight: bold;
}

input.has-error {
  border: 2px solid #b22222;
}

.food-amount-input {
  max-width: 100px;
}

.serving-size-notice {
  font-style: italic;
  padding-bottom: 6px;
}

.log-entry-form-decision-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.log-entry-form-delete {
  color: #b22222;
  cursor: pointer;
}

.hidden {
  display: none;
}

::selection {
  background-color: #c3daa8;
}

@media screen and (min-width: 400px) {
  .food-result-thumbnail,
  .food-result-description {
    float: left;
  }

  .food-result-description {
    margin-top: initial;
    margin-left: 15px;
  }
}

@media screen and (min-width: 570px) {
  .search,
  .trackers {
    width: 440px;
    max-width: 440px;
  }
}

@media screen and (min-width: 730px) {
  .details-panel {
    box-shadow: none;
    position: relative;
    top: initial;
    left: initial;
    transform: initial;
    max-width: 370px;
    margin-top: 8px;
    flex-grow: 1;
  }

  .details-panel-close {
    display: none;
  }

  .details-panel:hover .details-panel-close {
    display: initial;
  }
}
